@use 'index' as lib-colors;
@use 'core';
@use 'gray';
@use 'black';
@use 'white';

:root {
  @include core.palette($useDisplayP3: false);
  @include gray.palette($useDisplayP3: false);
  @include black.palette($useDisplayP3: false);
  @include white.palette($useDisplayP3: false);
}

.error {
  @include lib-colors.colors(
    (
      'fire': rgb(255, 62, 0),
    )
  );
}
