name: npm publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      # Publish to npm package registry
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm publish --access public --no-git-checks
      # Publish to GitHub Packages
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://npm.pkg.github.com'
          scope: '@cgoern'
          cache: 'pnpm'
      - run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
